{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

<section class="relative flex items-center flex-col ">
  <div class="flex justify-center items-center">
    {% if section.settings.image1 != blank %}
    {% include 'responsive-image' with
        image: section.settings.image1,
        max_width: '375',
        max_height: '300'  
    %}
    {% endif %}
  </div>
  <div class="mx-20 uppercase text-xl font-bold text-black text-center">
    {{section.settings.title}}
  </div>
  <div class="mx-7 mt-3 text-sm font-bold text-black text-center">
    {{section.settings.sub}}
  </div>
  <div class="mx-6 my-3 font-bold text-black">
    <div class="bg-red-600 rounded-[100px] text-white text-center text-sm px-8 py-1">
        <p>LIMITED STOCK</p>
        <p>MAX 5 BOXES PER HOUSEHOLD</p>
    </div>
  </div>
  <div class="justify-center items-center flex flex-col loop">
  
  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products limit: 3 %}
  
    <a  href="{{ product.url | within: collection }}" class="featured-collection-item mx-5 w-full bg-[#F4F6F8]">
      <div class="relative  flex justify-between items-center rounded-t-10 font-bold uppercase px-2 text-white bg-all-night [&:nth-child(2)]:bg-all-day">
        <p class="text-xl">{{ product.title | escape }}</p>
        <p class="text-xs text-right">{{ product.description }}</p>
      </div>
      <div class="flex flex-row items-center w-full mb-5 rounded-rounded-3">
      {% if product.featured_image != blank %}
        {% if product.images[1]%}
        <div class="hidden md:block">
        <img class="" src="{{ product.images[1] | img_url: 'large' }}" alt="{{ product.images.last.alt | escape }}" />
      </div>

      <div class="flex justify-center md:hidden featured-collection__image">
        {% include 'responsive-image' with
          image: product.featured_image,
          max_width: 143,
          max_height: 114
        %}
      </div>
        {% else %}
        <div class="flex justify-center featured-collection__image w-1/4">
          {% include 'responsive-image' with
            image: product.featured_image,
            max_width: 143,
            max_height: 114
          %}
        </div>
        {% endif %}
      {% endif %}
      <div class="w-3/4 flex flex-col text-center">
      <div class="flex flex-row justify-between">
        <span class="uppercase text-[9px] font-normal">Regular Price</span>
        <span class="uppercase text-[9px] font-normal">Easter Price</span>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex items-start">
          {{product.price | money }}
        </div>
        <div class="flex items-end">
          {{product.compare_at_price | money }}
        </div>
      </div>
    </div>
    
    </div>
{% style %}
    .loop>a:nth-child(2){
      background-image: linear-gradient(180deg, #26AAE0 0%, #693D90 64.06%);
    }
{% endstyle %}

    </a>
  {% else %}
    {% for i in (1..3) %}
      <a href="#" class="featured-collection-item">
        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

        <p>{{ 'homepage.onboarding.product_title' | t }}</p>
        <p>{{ 1999 | money }}</p>
      </a>
    {% endfor %}
  {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "DON'T WAIT"
      },
      {
        "type": "textarea",
        "id": "sub",
        "label": "Sub title",
        "default": " This is Your Best Chance to See What PHEN24 Can Do For You!"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
